@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuente personalizada */
@font-face {
  font-family: "Brasley";
  src: url("/fonts/brasley-medium.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Colores base */
:root {
  --background: #FDE5C3;
  --foreground: #171717;
}


/* Aplica Brasley a todo el sitio por defecto */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Brasley', sans-serif;
}
